#content {
	max-width:1280px;
	margin: 0 auto;
}

.article__info {
	color: $light-gray-color;
	font-size:12px;
	margin-top: 0.7em;
}

.article {
	padding-top: 1%;
	text-align: justify;

	p {
		padding-bottom:1.5em;
	}

	&.last {
		margin-bottom: 1.2em;
	}
}
.article__image {
	margin: 1.2em 0;

	img {
		border: 8px solid black;
	}
}

.right-spacing {
	margin-right: $spacing/2;
}