$base-color1: #ffffff;
$base-color2: #111111;

$slider-color: $base-color1;

$border-color: #e5e5e5;
$transparent-border: rgba($base-color1 ,0.4);

// --- Input Colors

$dark-background: #000000;
$light-background: #ffffff;

$input-text: #777777;

$inactive: $input-text;

$blue-color: #7687de;
$green-color: #5ffaad;
$red-color: #fc6667;
$orange-color: #ffa336;
$purple-color: #a287cc;
$light-gray-color: #cccccc;

body {
	width: 100%;
	font-family: "Open Sans";
	color: $base-color2;
	background: linear-gradient(to right, $base-color2 0%,$base-color2 50%,$base-color1 50%,$base-color1 100%);
}

.wrapper {
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

.full-width {
	width:100%;
}





.fixed-top {
	position: fixed;
	top: 0;
	z-index: 99;
}

*:before, *:after, * {
	box-sizing: border-box;
}

.right {
	float:right;
}
.left {
	float:left;
}
.is-hidden {
	display:none;
}
.spacing-left {
	margin-left: 8.33333%;
}
.row {
	display: block;
	margin-top: 0.5em;
}

.section-heading {
	clear:both;
	display: block;
	width:100%;
	min-height: 30px;
	border-bottom: 0.15em solid $border-color;
	color: $base-color2;
}

div#content {

	section {
		height:100%;
		display:table-cell;
		background: $base-color1;
	}
}

footer {
	background: $base-color2;
	height:100px;
}

h1 {
}

h2 {
	@extend .headline;
	font-weight: 400;
}

h3 {
	font-weight: 400;
	@extend .headline;
	font-size: $font-normal;
	color: $base-color1;
}

li {
	list-style: none;
}

@media only screen and (max-width: 680px) {
	.mobile--is-hidden {
		display:none;
	}
}
a.dark {
	color: $input-text;
	@extend .hover;

	&:hover {
		color: $blue-color;
	}
}

a {
	text-decoration: none;
}