
header {
	color: $base-color1;
	font-size: $font-normal;
	z-index: 999;
	padding: $spacing/3 0;
	background: $base-color2;
}

.header__profile--image {
	border-radius: 5px;
	overflow:hidden;
	height:32px;
	width:32px;
}

.header__profile--data {
	color: $base-color1;
	@extend .hover;
	@extend .headline;
	margin-right: $spacing/2;

	span {
		font-size: $font-small;
	}

	&:hover {
		color: $blue-color;
	}

	&.disabled {
		color: $inactive;
		@extend .disable-hover;
	}
}

.header__profile--value {
	margin-right: $spacing/2;
}

.header__profile, .header__profile--logout {
	margin-left: $spacing/2;
	line-height: 29px;
}

.header__profile--welcome {
	font-size: $font-small;
	border-right: 1px solid $transparent-border;
	margin-right: $spacing/2;
	display: inline-block;
	height: 100%;
}

.js-offcanvas {
	display:none;
}

.js-offcanvas__toggle {
	float:right;
	height:32px;
	width:32px;
	text-align: center;
	vertical-align: middle;
	@extend .hover;
	color: $inactive;

	&:hover {
		color: $base-color1;
	}
}