nav {
	background: rgba($base-color1, 0.9);
	box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
	z-index: 999;
	@extend .headline;
	
	li {
		margin: $spacing 0;
		@extend .left;

		&.active a {
				background: $base-color2;
				color: $base-color1;
		}

		a {
			padding: $spacing $spacing*2;
			text-decoration: none;
			color: $base-color2;
			@extend .hover;
			text-transform: uppercase;
			font-size: $font-normal;
			&:hover {
				background: $base-color2;
				color: $base-color1;
			}
		}
	}
}