aside.left {
	padding-top: 1%;
	height:100%;
	background: $base-color2;
	display:table-cell;
	margin-left:0;
	color: $base-color1;
	padding-right: 2%;
	> div {
		margin-bottom:2em;
	}
	.section-heading {
		border-bottom: $border-width solid $blue-color;
		font-weight: 100;
		margin-bottom:1.2em;
	}

}
.side--hide {
			text-transform: uppercase;
			color: #414141;
			font-size:8px;
			margin: 4px 0;
			cursor: pointer;
}
