button {
	padding: $spacing/2 $spacing*2;
	margin-top: $spacing/2;
	font-size: $font-basic;
	@extend .headline;
	@extend .hover;
}

button.button--primary {
	
		&.dark {
		border: 1px solid $input-text;
		color: $input-text;
		background: #000;
		padding: $spacing/4 $spacing*1.5;
		@extend .hover;

		&:hover {
			color: $blue-color;
			border-color: $blue-color;
		}
	}
}

button.button--secondary {
	box-shadow: 2px 0 6px rgba($shadow-color, 0.2);
	font-weight: 500;
	
	&.light {
		background: none;
		border: 1px solid $base-color1;
		color: $base-color1;

		&:hover {
			background: rgba($base-color1, 0.7);
			color: $base-color2;
		}
	}

	&.dark {
		background: none;
		border: 1px solid $base-color2;
		color: $base-color2;

		&:hover {
			background: rgba($base-color2, 0.7);
			color: $base-color1;
		}
	}	
}  