form.dark input {
	background: $dark-background;
	color: $input-text;
	border: 1px solid $input-text;
	padding: $spacing/4 $spacing/2;
	@extend .hover;

	&:focus {
		border-color: $blue-color;
	}
}

form.light input {
	background: $light-background;
	color: $input-text;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
   color: $input-text;
}
