.side__recent__post {
	display:block;
	font-size: $font-small;
	border-bottom: 1px solid $transparent-border;
	padding-bottom: $spacing/4;
	color: $input-text * 1.2;
	
	&:hover .side__recent__post__post {
			color: $blue-color;
		}

	span {
		@extend .hover;
	}

	&:hover {
		span.member {
			color: $green-color;
		}

		span.officer {
			color: $purple-color;
		}

		span.admin {
			color: $orange-color;
		}
	}

	div {
		font-size: $font-xsmall;
		color: $input-text/1.2;
	}

	&.side__recent__post--new {
		color: $base-color1;
	}

	&.last {
		border: none;
		padding-bottom: 0;
	}
}