.slider {
	background: url($slider-background);
	background-position: 0 50%;
	padding-top: 11%;
	padding-bottom:3%;
}

.slider__content {
	position: relative;
	color: $slider-color;
	margin: 0 auto;

	.slider__content--arrow {
		font-size: $font-xxxlarge;
		opacity: 0.5;
		@extend .hover;

		&.left {
			text-align: right;
		}

		&:hover {
			opacity: 1;
		}
	}

.slider__content--fill {
		div {
			max-width:500px;
		}

		img {
			@extend .box-shadow;
			float:left;
		}

		h1 {
			@extend .bold;
			@extend .headline;
			margin-bottom: $spacing/2;
			font-size: $font-xxxlarge;
		}

		p {
			line-height: $spacing;
		}
	}
}

@media only screen and (max-width: 681px) {
	.slider {
		padding-top: $spacing*3;
	}
}