.grid-1-1kb {
  width: 44px;
  margin: 0 5px; }

.grid-2-1kb {
  width: 108px;
  margin: 0 5px; }

.grid-3-1kb {
  width: 172px;
  margin: 0 5px; }

.grid-4-1kb {
  width: 236px;
  margin: 0 5px; }

.grid-5-1kb {
  width: 300px;
  margin: 0 5px; }

.grid-6-1kb {
  width: 364px;
  margin: 0 5px; }

.grid-7-1kb {
  width: 428px;
  margin: 0 5px; }

.grid-8-1kb {
  width: 492px;
  margin: 0 5px; }

.grid-9-1kb {
  width: 556px;
  margin: 0 5px; }

.grid-10-1kb {
  width: 620px;
  margin: 0 5px; }

.grid-11-1kb {
  width: 684px;
  margin: 0 5px; }

.grid-12-1kb {
  width: 748px;
  margin: 0 5px; }

.grid-13-1kb {
  width: 812px;
  margin: 0 5px; }

.grid-14-1kb {
  width: 876px;
  margin: 0 5px; }

.grid-15-1kb {
  width: 940px;
  margin: 0 5px; }

.grid-16-1kb {
  width: 1024px; }
