body {
  width: 100%;
  font-family: Exo; }

.wrapper {
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0; }

.full-width {
  width: 100%; }

.content-wrapper {
  background: -webkit-gradient(linear, left top, right top, from(#111111), color-stop(50%, #111111), color-stop(50%, #ffffff), to(#ffffff));
  background: -webkit-linear-gradient(left, #111111 0%, #111111 50%, #ffffff 50%, #ffffff 100%);
  background: linear-gradient(to right, #111111 0%, #111111 50%, #ffffff 50%, #ffffff 100%);
  float: left; }

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 99; }

*:before, *:after, * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: exo; }

.right {
  float: right; }

.left {
  float: left; }

.is-hidden {
  display: none; }

.spacing-left {
  margin-left: 8.33333%; }

.row {
  display: block;
  margin-top: 0.5em; }

img.grid {
  padding: 0 !important; }

.section-heading {
  clear: both;
  display: block;
  width: 100%;
  min-height: 30px;
  border-bottom: 0.15em solid #e5e5e5; }

div#content section {
  height: 100%;
  display: table-cell;
  background: #ffffff; }

footer {
  background: #111111;
  height: 100px; }

h2 {
  text-transform: uppercase;
  font-weight: 400; }

h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px; }
