<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Indecisive WildStar v2</title>
		<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="full-width fixed-top" style="z-index: 99;">
			<header>
				<div class="wrapper grid-16-1kb">
				<div class="header__profile--image pull-left">
					<img src="" alt="" />
				</div>
				<div class="header__profile pull-left">
					<span class="header__profile--welcome">Welcome Lhari</span>
					<i class="header__profile--icon icon-envelope"></i> <span class="header__profile--value">3</span> Messages
					<i class="header__profile--icon icon-user"></i> <span class="header__profile--value">2</span> Buddies
				</div>
					<span class="header__profile--logout pull-right">Logout</span>
				</div>
			</header>
			<nav style="z-index: 999;">
				<div class="wrapper grid-16-1kb">
					<ul>
						<li class="active"><a href="*/">home</a></li>
						<li><a href="/">forums</a></li>
						<li><a href="/">raiding</a></li>
						<li><a href="/">roster</a></li>
						<li><a href="/">apply</a></li>
						<li><a href="/">media</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="slider">
			<div class="slider__content">
				<div class="slider__content--arrow pull-right"><i class="icon-angle-right"></i></div>
				<div class="slider__content--arrow pull-left"><i class="icon-angle-left"></i></div>
				<div class="slider__content--fill">
					<img src="images/slider-image-sample.jpg" alt="" class="grid-6-1kb" />
					<div class="pull-left">
						<h1>Our first Victory!</h1>
						<p>Well we finally took down the first boss with 40 of our finest hardened warriors</p>
						<button>read more</button>
					</div>
				</div>
			</div>
		</div>
		<div class="content-wrapper">
			<div id="content" class="wrapper grid-16-1kb">
				<aside class="grid-5-1kb left side">
					<div class="side__recruitment">
						<div class="section-heading row">
							<span class="side--hide js_more-toggle pull-right pull-right">hide</span>
							<span class="side--hide js_more-toggle is-hidden pull-right">show</span>
							<h3 class="">Recruitment</h3>
						</div>
						<div class="js-more">
								<label class="row">
									<div class="side__recruitment--value pull-right">
										<span class="closed"></span>
									</div>
									<div class="side__recruitment--name">Warrior</div>
								</label>
								<label class="row">
									
									<div class="side__recruitment--value pull-right">
										<span class="closed"></span>
									</div>
									<div class="side__recruitment--name">Engineer</div>
								</label>
								<label class="row">
									<div class="side__recruitment--value pull-right">
										<span class="open"></span>
									</div>
									<div class="side__recruitment--name">Medic</div>
								</label>
								<label class="row">

									<div class="side__recruitment--value pull-right">
										<span class="closed"></span>
									</div>
									<div class="side__recruitment--name">Stalker</div>
								</label>
								<label class="row">
									<div class="side__recruitment--value pull-right">
										<span class="open"></span>
									</div>
									<div class="side__recruitment--name">Spellslinger</div>
								</label>
								<label class="row">
									<div class="side__recruitment--value pull-right">
										<span class="open"></span>
									</div>
									<div class="side__recruitment--name">Esper</div>
								</label>
							
						</div>
					</div>
					<div class="side__members">
						<div class="section-heading row">
							<span class="side--hide js-more_toggle pull-right">hide</span>
							<span class="side--hide js-more_toggle pull-right is-hidden">show</span>
							<h3>Online Users</h3>
						</div>
						<div class="js-more">
							<label class="row"><p class="member">Voldermonk</p></label>
							<label class="row"><p class="member">Kesara</p></label>
							<label class="row"><p class="member">Quackers</p></label>
							<label class="row"><p class="admin">Tiamar</p></label>
							<label class="row"><p class="officer">Navi</p></label>
							<label class="row"><p class="member">OniHouse</p></label>
						</div>
					</div>
				</aside>
				<section class="grid-11-1kb article">
					<article id="first-victory" class="article last">
						<div class="section-heading">
							<div class="pull-right article__info">
								<span class="article__info--category">killshots 
								<i class="icon-tag-1"></i></span>
								<span class="article__info--date">28 july 14 
								<i class="icon-calendar"></i></span>
							</div>
							<h2>our first victory</h2>
						</div>
						<div class="article__image">
							<img src="images/slider-image-sample.jpg" alt="" />
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc adipiscing, velit sit amet imperdiet semper, quam tortor rhoncus magna, eget varius risus arcu in mi. Vivamus ultrices ligula turpis, vel tempus dui vulputate ut. Donec ut ligula sit amet sem viverra luctus. Fusce lacinia, lorem et tempus tempus, quam orci congue nulla, ac posuere sem quam nec ipsum. Nulla sed adipiscing diam, eget bibendum sapien. Aliquam pellentesque viverra dui, sed dignissim arcu auctor eget. Vivamus nisi sapien, tristique id nisl vel, tristique fringilla lectus. Nunc et interdum odio, vel blandit felis. Etiam feugiat bibendum tortor a interdum. Sed vitae nunc mauris.</p>
						<p>Quisque blandit convallis diam, eu tristique elit pellentesque id. Phasellus volutpat odio ac magna molestie condimentum. Ut vitae est arcu. Nullam posuere auctor tellus non porttitor. Phasellus fringilla et enim get pretium. Aenean sed neque at lorem luctus gravida. Duis sollicitudin mi lacus, at viverra quam eleifend nec. Nullam bibendum sapien et turpis pulvinar, sit amet rutrum nulla ornare. Mauris gravida blandit tincidunt. Donec feugiat elit elit, nec fringilla felis bibendum sed. Mauris vehicula faucibus laoreet. Curabitur sodales quis lacus vitae porta. Morbi iaculis diam id </p>
					</article>
				</section>
				<div style="clear:both;"></div>
			</div>
		</div>
		<footer class="wrapper grid-16-1kb">
			test
		</footer>
	</body>
</html>