<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Indecisive WildStar v2</title>
		<script src="js/all.top.min.js" type="text/javascript"></script>
		<link href="stylesheets/main.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="full-width fixed-top" style="z-index: 99;">
		<div class="preheader grid size-12 js-offcanvas">
			<div>
				<form action="/" method="POST" class="dark">
					<input type="text" name="Username" placeholder="Username" class="right-spacing" />
					<input type="password" name="password" placeholder="password" class="right-spacing" />
					<label class="right-spacing"><input type="checkbox" /> Remember me</label>
					<button class="button button--primary dark">Log in</button>
				</form>
			</div>
		</div>
			<header class="grid size-12">
				<div class="header__profile--image left">
					<img src="" alt="" />
				</div>
				<div class="header__profile left">
					<span class="header__profile--welcome">
						Welcome Lhari
						<a class="js-offcanvas__toggle"><i class="icon-down-dir"></i></a>
					</span>
					<a class="header__profile--data">
						<i class="icon-envelope"></i> <span>3</span>
					</a>
					<a class="header__profile--data disabled">
						<i class="icon-user"></i> <span>0</span>
					</a>
					
				</div>
			</header>
			<nav class="grid size-12 mobile--is-hidden">
					<ul>
						<li class="active"><a href="*/">home</a></li>
						<li><a href="/">forums</a></li>
						<li><a href="/">raiding</a></li>
						<li><a href="/">roster</a></li>
						<li><a href="/">apply</a></li>
						<li><a href="/">media</a></li>
					</ul>
			</nav>
			<div class="nav mobile--nav mobile--hidden-above grid size-12--palm align-center">
				<ul>
					<li class="active"><a href="*/">home</a></li>
					<li><a href="/">forums</a></li>
					<li><a href="/">raiding</a></li>
					<li><a href="/">roster</a></li>
					<li><a href="/">apply</a></li>
					<li><a href="/">media</a></li>
				</ul>
			</div>
		</div>
		<div class="slider grid size-12">
			<div class="slider__content grid size-12">
				<div class="slider__content--arrow right grid size-1"><i class="icon-angle-right"></i></div>
				<div class="slider__content--arrow left grid size-1"><i class="icon-angle-left"></i></div>
				<div class="slider__content--fill grid size-10">
					<img src="images/slider-image-sample.jpg" alt="Slider" class="grid size-5 size-12--palm" />
					<div class="grid size-6 size-12--palm spacing-left">
						<h1>Our first Victory!</h1>
						<p class="mobile--is-hidden">Well we finally took down the first boss with 40 of our finest hardened warriors</p>
						<button class="button button--secondary light">read more</button>
					</div>
				</div>
			</div>
		</div>
		<div class="content-wrapper grid size-12 grid-group">
			<div id="content">
				<aside class="grid size-2 size-12--palm left side">
					<div class="side__recruitment grid size-12 size-6--palm">
						<div class="section-heading row">
							<span class="side--hide js__more--toggle right right mobile--is-hidden">hide</span>
							<span class="side--hide js__more--toggle is-hidden right">show</span>
							<h3 class="">Recruitment</h3>
						</div>
						<div class="js__more">
								<label class="row">
									<div class="side__recruitment--value right">
										<span class="closed"></span>
									</div>
									<div class="side__recruitment--name">Warrior</div>
								</label>
								<label class="row">
									
									<div class="side__recruitment--value right">
										<span class="closed"></span>
									</div>
									<div class="side__recruitment--name">Engineer</div>
								</label>
								<label class="row">
									<div class="side__recruitment--value right">
										<span class="open"></span>
									</div>
									<div class="side__recruitment--name">Medic</div>
								</label>
								<label class="row">

									<div class="side__recruitment--value right">
										<span class="closed"></span>
									</div>
									<div class="side__recruitment--name">Stalker</div>
								</label>
								<label class="row">
									<div class="side__recruitment--value right">
										<span class="open"></span>
									</div>
									<div class="side__recruitment--name">Spellslinger</div>
								</label>
								<label class="row">
									<div class="side__recruitment--value right">
										<span class="open"></span>
									</div>
									<div class="side__recruitment--name">Esper</div>
								</label>
							
						</div>
					</div>
					<div class="side__members grid size-12 size-6--palm">
						<div class="section-heading row">
							<span class="side--hide js__more--toggle right mobile--is-hidden">hide</span>
							<span class="side--hide js__more--toggle right is-hidden">show</span>
							<h3>Online Users</h3>
						</div>
						<div class="js__more">
							<label class="row"><p class="member">Voldermonk</p></label>
							<label class="row"><p class="member">Kesara</p></label>
							<label class="row"><p class="member">Quackers</p></label>
							<label class="row"><p class="admin">Tiamar</p></label>
							<label class="row"><p class="officer">Navi</p></label>
							<label class="row"><p class="member">OniHouse</p></label>
						</div>
					</div>
				</aside>
				<section class="grid size-10 size-12--palm article">
					<article id="first-victory" class="article last">
						<div class="section-heading">
							<div class="right article__info">
								<span class="article__info--category">killshots 
								<i class="icon-tag-1"></i></span>
								<span class="article__info--date">28 july 14 
								<i class="icon-calendar"></i></span>
							</div>
							<h2>our first victory</h2>
						</div>
						<div class="grid size-12 article__image">
							<img src="images/slider-image-sample.jpg" alt="" class="grid size-10 size-12--palm" />
						</div>
						<div class="article__text grid size-12">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc adipiscing, velit sit amet imperdiet semper, quam tortor rhoncus magna, eget varius risus arcu in mi. Vivamus ultrices ligula turpis, vel tempus dui vulputate ut. Donec ut ligula sit amet sem viverra luctus. Fusce lacinia, lorem et tempus tempus, quam orci congue nulla, ac posuere sem quam nec ipsum. Nulla sed adipiscing diam, eget bibendum sapien. Aliquam pellentesque viverra dui, sed dignissim arcu auctor eget. Vivamus nisi sapien, tristique id nisl vel, tristique fringilla lectus. Nunc et interdum odio, vel blandit felis. Etiam feugiat bibendum tortor a interdum. Sed vitae nunc mauris.</p>
							<p>Quisque blandit convallis diam, eu tristique elit pellentesque id. Phasellus volutpat odio ac magna molestie condimentum. Ut vitae est arcu. Nullam posuere auctor tellus non porttitor. Phasellus fringilla et enim get pretium. Aenean sed neque at lorem luctus gravida. Duis sollicitudin mi lacus, at viverra quam eleifend nec. Nullam bibendum sapien et turpis pulvinar, sit amet rutrum nulla ornare. Mauris gravida blandit tincidunt. Donec feugiat elit elit, nec fringilla felis bibendum sed. Mauris vehicula faucibus laoreet. Curabitur sodales quis lacus vitae porta. Morbi iaculis diam id </p>
						</div>
					</article>
				</section>
				<div style="clear:both;"></div>
			</div>
		</div>
		<footer class="grid size-12">
			test
		</footer>
	</body>
</html>