@import url(http://fonts.googleapis.com/css?family=Exo:400,500,200,100,300,700,900);
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?69668222');
  src: url('../font/fontello.eot?69668222#iefix') format('embedded-opentype'), url('../font/fontello.woff?69668222') format('woff'), url('../font/fontello.ttf?69668222') format('truetype'), url('../font/fontello.svg?69668222#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?69668222#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-angle-left:before {
  content: '\e804'; }

/* '' */
.icon-angle-right:before {
  content: '\e805'; }

/* '' */
.icon-user:before {
  content: '\e806'; }

/* '' */
.icon-tag-1:before {
  content: '\e807'; }

/* '' */
.icon-calendar:before {
  content: '\e808'; }

/* '' */
.icon-envelope:before {
  content: '\e809'; }

/* '' */
body {
  width: 100%;
  background: #111;
  font-family: Exo; }

.wrapper {
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0; }

.full-width {
  width: 100%; }

.content-wrapper {
  background: #111111;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #111111), color-stop(50%, #111111), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #111111 0%, #111111 50%, #ffffff 50%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, right top, from(#111111), color-stop(50%, #111111), color-stop(50%, #ffffff), to(#ffffff));
  background: linear-gradient(to right, #111111 0%, #111111 50%, #ffffff 50%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111111', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */ }

.fixed-top {
  position: fixed;
  top: 0;
  z-index: 99; }

*:before, *:after, * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: exo; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.is-hidden {
  display: none; }

.row {
  display: block;
  margin-top: 0.5em; }

.section-heading {
  clear: both;
  display: block;
  width: 100%;
  min-height: 30px; }

div#content {
  background: #fff; }
  div#content section {
    height: 100%;
    display: table-cell; }

footer {
  background: #111;
  height: 100px; }


h2 {
  text-transform: uppercase;
  font-weight: 400; }

h3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px; }

header {
  height: 50px;
  color: #fff;
  font-size: 14px;
  z-index: 999;
  padding-top: 0.7em;
  background: #331d11; }

.header__profile--image {
  border-radius: 5px;
  overflow: hidden;
  height: 32px;
  width: 32px;
  background: #ff0; }

.header__profile--value, .header__profile--icon {
  color: #7687de; }

.header__profile--value {
  margin-right: 0.3em; }

.header__profile, .header__profile--logout {
  margin-left: 1.5em;
  line-height: 33px; }

.header__profile--welcome {
  padding-right: 1.5em;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  margin-right: 0.7em; }

.header__profile i {
  margin: 0 0.2em 0 1em; }

nav {
  background: rgba(255, 255, 255, 0.7);
  height: 75px;
  -webkit-box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.2);
  z-index: 999; }
  nav li {
    display: inline-block;
    margin-top: 26px;
    float: left; }
    nav li.active a {
      background: #331d11;
      color: #fff; }
    nav li a {
      padding: 28px 40px;
      text-decoration: none;
      color: #111;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      text-transform: uppercase;
      font-size: 14px; }
      nav li a:hover {
        background: #331d11;
        color: #fff; }

.slider {
  background: url('../images/slider-background-sample.jpg');
  background-position: 0 50%;
  height: 530px; }

.slider__content {
  position: relative;
  color: #fff;
  width: 1024px;
  margin: 0 auto;
  top: 200px; }
  .slider__content .slider__content--arrow {
    vertical-align: middle; }
  .slider__content .slider__content--fill div {
    margin-top: 2em;
    max-width: 500px; }
  .slider__content .slider__content--fill img {
    -webkit-box-shadow: 5px 0 15px #4c1c06;
    box-shadow: 5px 0 15px #4c1c06;
    margin: 0 3em;
    float: left; }
  .slider__content .slider__content--fill button {
    -webkit-box-shadow: 2px 0 6px rgba(35, 31, 32, 0.2);
    box-shadow: 2px 0 6px rgba(35, 31, 32, 0.2);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    color: #ba5c4e;
    text-transform: uppercase;
    padding: 10px 14px;
    font-weight: 500;
    margin-top: 14px;
    font-size: 10px; }
  .slider__content .slider__content--fill h1 {
    font-weight: normal;
    margin-bottom: 14px; }
  .slider__content .slider__content--fill p {
    line-height: 30px; }

#content section {
  padding-left: 3em; }

.article__info {
  color: #cccccc;
  font-size: 12px;
  margin-top: 0.7em; }

.article {
  margin-top: 1.2em;
  border-bottom: 0.15em solid #e5e5e5;
  text-align: justify; }
  .article p {
    padding-bottom: 1.5em; }
  .article.last {
    margin-bottom: 1.2em; }

.article__image {
  margin: 1.2em 0; }
  .article__image img {
    border: 8px solid black; }

aside.left {
  height: 100%;
  background: #111;
  display: table-cell;
  margin-left: 0;
  color: #fff;
  padding-right: 3em; }
  aside.left > div {
    margin-bottom: 2em; }
  aside.left .section-heading {
    border-bottom: 0.15em solid #7687de;
    font-weight: 100;
    margin-bottom: 1.2em; }

.side--hide {
  text-transform: uppercase;
  color: #414141;
  font-size: 8px;
  margin: 4px 0;
  cursor: pointer; }

.side__recruitment .side__recruitment--name {
  font-size: 12px; }
.side__recruitment .side__recruitment--value span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block; }
  .side__recruitment .side__recruitment--value span.open {
    background: #5ffaad; }
  .side__recruitment .side__recruitment--value span.closed {
    border: 2px solid #fc6667; }

.side__members p.member {
  color: #5ffaad; }
.side__members p.officer {
  color: #a287cc; }
.side__members p.admin {
  color: #ffa336; }
.side__members p {
  font-size: 12px; }

.grid-1-1kb {
  width: 44px;
  margin: 0 5px; }

.grid-2-1kb {
  width: 108px;
  margin: 0 5px; }

.grid-3-1kb {
  width: 172px;
  margin: 0 5px; }

.grid-4-1kb {
  width: 236px;
  margin: 0 5px; }

.grid-5-1kb {
  width: 300px;
  margin: 0 5px; }

.grid-6-1kb {
  width: 364px;
  margin: 0 5px; }

.grid-7-1kb {
  width: 428px;
  margin: 0 5px; }

.grid-8-1kb {
  width: 492px;
  margin: 0 5px; }

.grid-9-1kb {
  width: 556px;
  margin: 0 5px; }

.grid-10-1kb {
  width: 620px;
  margin: 0 5px; }

.grid-11-1kb {
  width: 684px;
  margin: 0 5px; }

.grid-12-1kb {
  width: 748px;
  margin: 0 5px; }

.grid-13-1kb {
  width: 812px;
  margin: 0 5px; }

.grid-14-1kb {
  width: 876px;
  margin: 0 5px; }

.grid-15-1kb {
  width: 940px;
  margin: 0 5px; }

.grid-16-1kb {
  width: 1024px; }
